{% extends "base.html" %}
{% block content %}
<div class="mx-auto flex min-h-screen max-w-[80rem] flex-col justify-start gap-4 bg-base-100 p-4 relative sm:gap-8 sm:p-8">
    <div class="flex flex-row">
        <div class="w-4/10 min-w-[30%] bg-gray-200 rounded-md shadow-sm p-4">
            <h2 class="card-title">Title: Squad Event 2024</h2>
            <p>Participants:</p>
            <div class="overflow-x-auto">
                <table class="table">
                  <!-- head -->
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- row 1 -->
                    <tr>
                      <td>Cy Ganderton</td>
                      <td><a class="btn btn-xs btn-outline btn-error" href="">Remove</a></td>
                    </tr>
                    <!-- row 2 -->
                    <tr>
                      <td>Hart Hagerty</td>
                      <td><a class="btn btn-xs btn-outline btn-error" href="">Remove</a></td>
                    </tr>
                    <!-- row 3 -->
                    <tr>
                      <td>Brice Swyre</td>
                      <td><a class="btn btn-xs btn-outline btn-error" href="">Remove</a></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    
        <div class="w-6/10 min-w-[60%] bg-white rounded-md shadow-sm p-4">
            <div class="card bg-gray-200 p-4 rounded-md shadow-xl shadow hover:shadow-lg border border-gray-400 rounded-box">
                <div class="card-body p-4 rounded-md">
                  <h2 class="card-title">{{ bill_group.name }}</h2>
                  <p><i>{{ bill_group.description }} </i></p>
                  
                  <p><b> Category: </b> {{ bill_group.category }}</p>
                  <p><b> Public Link: </b> {{ bill_group.public_link }}</p>
                  {% comment %} <a href="{% url 'participant:add_participant' bill_group.group_id %}"> Add Participant </a> {% endcomment %}
                  <div class="card-actions justify-end">
                    <a class="btn btn-primary" href="">Update</a>
                  </div>
            
                  <div class="card-actions justify-end">
                    <a class="btn btn-primary" href="">Show Group Bill</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}