{% extends "base.html" %}
{% block content %}
<div class="mx-auto flex min-h-screen max-w-[80rem] flex-col justify-start gap-4 bg-base-100 p-4 relative sm:gap-8 sm:p-8">
    <div class="flex flex-row">
        <div class="w-4/10 min-w-[30%] bg-gray-200 rounded-md shadow-sm p-4">
            <h2 class="card-title">Title: Squad Event 2024</h2>
            <p>Participants:</p>
            <button class="btn btn-xs btn-primary" onclick="openAddParticipantModal()">Add Participant</button>
            <dialog id="add_participant" class="modal modal-bottom sm:modal-middle">
              <div class="modal-box">
                <form hx-post="{% url 'participant:add_participant' group_id %}" hx-target="#participant-list">
                  {% csrf_token %}
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">What is participant name?</span>
                    </div>
                    <input type="text" id="participant-name" name="name" placeholder="Type participant name" class="input input-bordered w-full" />
                  </label>

                  <div class="modal-action">
                    <a class="btn" onclick="this.closest('dialog').close();">Close</a>
                    <button type="submit" class="btn" onclick="this.closest('dialog').close();">Submit</button>
                  </div>
                </form>
              </div>
            </dialog>
            <div id="participant-list" class="overflow-x-auto" hx-swap="outerHTML">
                <table class="table">
                  <!-- head -->
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for participant in participants %}
                    <tr>
                      <td>{{participant.name}}</td>
                      <td>
                        <a
                          hx-target="#participant-list"
                          class="btn btn-xs btn-outline btn-error"
                          hx-get="{% url 'participant:delete_participant' group_id participant.participant_id %}">
                          Remove
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    
        <div class="w-6/10 min-w-[60%] bg-white rounded-md shadow-sm p-4">
          <a class="btn btn-block" href="{% url 'bill_group:group_add_bill' group_id %}">Add Bill</a>
          <br />
          <br />
          {% for bill in bills %} 
          <div class="card bg-gray-200 p-4 rounded-md shadow-xl shadow hover:shadow-lg border border-gray-400 rounded-box">
              <div class="card-body p-4 rounded-md">
                <h2 class="card-title">{{ bill.name }}</h2>
                <p><i>{{ bill.description }} </i></p>

                <p><b> Sub Total: </b> {{ bill.total_bill }}</p>
                <p><b> Total: </b> {{ bill.sub_total_bill }}</p>
                <div class="card-actions justify-end">
                  <a class="btn btn-primary" href="{% url 'bill_group:group_update_bill' group_id bill.bill_id %}">Update</a>
                </div>
          
                <div class="card-actions justify-end">
                  <a class="btn btn-primary" href="{% url 'bill_group:group_detail_bill' group_id bill.bill_id %}">Open Bill Detail</a>
                </div>
              </div>
            </div>
            <br />
            <br />
            {% endfor %}
        </div>
    </div>
</div>
<script>
  function openAddParticipantModal() {
    // Clear input value before showing the modal
    document.getElementById("participant-name").value = "";
    add_participant.showModal();
  }
</script>
{% endblock %}