{% extends "base.html" %}
{% block content %}
{% load humanize %}

<div class="mx-auto flex min-h-screen max-w-[80rem] flex-col justify-start gap-4 bg-base-100 p-4 relative sm:gap-8 sm:p-8">
    <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 gap-4">
        <div class="bg-white rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-2">Bill Transaction Details</h2>
            <p>Paid By: {{ bill.paid_by_participant_name }}</p>
            <p>Name: {{bill.name}}</p>
            <p>Total: Rp. {{bill.total_bill|intcomma}}</p>
            <p>Sub Total: Rp. {{bill.sub_total_bill|intcomma}}</p>
            <p>Tax: {{bill.tax_rate}} %</p>
            <p>Fee: {{bill.fee_rate}} %</p>
            <p>Discount: {{bill.discount_rate}} %</p>
            <p>Description: {{bill.description|default:"-"}}</p>
        </div>

        <div class="bg-white rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-2">Add Transaction</h2>
            <form
                hx-post="{% url 'transaction:add_transaction' bill.bill_id %}"
                class="flex flex-col gap-2"
                hx-target="#list-transaction"
                hx-on::after-request="this.reset()"
            >
                {% csrf_token %}
                <label for="amount" class="font-medium">Amount:</label>
                <input type="number" name="amount" id="amount" placeholder="eg. 100000" class="input input-bordered" required>
                <label for="type" class="font-medium">Payment Type:</label>
                <input id="type" name="type" class="input input-bordered" placeholder="Eg. Transfer" required>
                <label for="status" class="font-medium">Status:</label>
                <select name="status" class="select select-bordered" required>
                    <option value="paid">Paid</option>
                    <option value="unpaid">Unpaid</option>
                </select>
                <label for="participant" class="font-medium">Owe By:</label>
                <select name="participant" class="select select-bordered" required>
                    {% for participant in participants %}
                        <option value={{ participant.participant_id }}>{{ participant.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Add Transaction</button>
            </form>
        </div>

        <div id="list-transaction" hx-swap="outerHTML">
            <div class="bg-white rounded-lg shadow-md p-4" >
                <h2 class="text-xl font-semibold mb-2">Transaction List</h2>
                <table class="table table-compact w-full">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{transaction.name}}</td>
                            <td>{{transaction.amount|intcomma}}</td>
                            <td>{{transaction.type}}</td>
                            <td>{{transaction.status}}</td>
                            <td>
                                <a
                                    class="btn btn-xs btn-outline btn-error" href="">
                                    Edit
                                </a> |
                                <a
                                    class="btn btn-xs btn-outline btn-error" href="">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
