{% load static %}

<link href="{% static 'base/output.css' %}" rel="stylesheet" type="text/css" />
<script src={% static 'base/htmx.min.js' %}></script>


<a href="{% url 'bill_group:create_bill_group' %}"> Create Group </a>

<table>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Descriptions</th>
        <th>Category</th>
        <th>Update</th>
      </tr>
      {% for bill_group in bill_groups %}
      <tr>
        <td>{{ bill_group.name }} </td>
        <td>{{ bill_group.description }} </td>
        <td>{{ bill_group.category }} </td>
        <td><a href="{% url 'bill_group:update_bill_group' bill_group.group_id %}"> Update</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
