{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}


<div class="mx-auto flex min-h-full w-full flex-col p-4 sm:p-8 items-center">
    <h2 class="text-3xl font-semibold text-center mb-4">Login</h2>
    <form method="post" action="{% url 'login' %}" class="space-y-4">
        {% csrf_token %}
        <div class="label">
            <span class="label-text font-bold">{{ form.username.label_tag }}</span>
        </div>
        <td>
            {{ form.username }}
        </td>
        <td>
            <span class="label-text font-bold">{{ form.password.label_tag}}</span>
        </td>
        <td>
            {{ form.password }}
        </td>
        <button type="submit" class="btn btn-block">Login</button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
</div>
