<div id="participant-list" class="overflow-x-auto" hx-swap="outerHTML">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr>
                <td>{{participant.name}}</td>
                <td>
                    <a
                    hx-target="#participant-list"
                    class="btn btn-xs btn-outline btn-error"
                    hx-get="{% url 'participant:delete_participant' group_id participant.participant_id %}">
                    Remove
                    </a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
</div>
